<main>
  <div class="o-row-xl">
    <div class="o-constrained">
      <div class="o-grid o-grid--centered">
        <div class="o-grid__column-1-1 o-grid__column-large-1-2">
          <img src="<%= url_for('images/open-source-keyvisual.svg') %>" alt="">
        </div>
        <div class="o-grid__column-1-1 o-grid__column-large-1-2">
          <h2 class="a-title"><%- __('about.block.opensource.title') %></h2>
          <p class="a-subtitle"><%- __('about.block.opensource.subtitle') %></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row-xl">
    <div class="o-constrained">
      <div class="o-heading">
        <h2 class="a-title"><%- __('about.block.contributions.title') %></h2>
        <p class="a-subtitle"><%- __('about.block.contributions.subtitle') %></p>
      </div>
      <div class="o-grid">
        <div class="o-grid__column-1-1 o-grid__column-small-1-2 o-grid__column-large-1-3">
          <div class="c-user">
              <%- image_tag("images/andrea.jpg", { class: 'c-user__avatar' }) %>
              <h3><%- __('about.block.contributions.people.a.title') %></h3>
              <p class="c-user__subtitle"><%- __('about.block.contributions.people.a.job') %></p>
              <ul class="o-list">
                <li>
                  <a href="https://github.com/gravityblast" target="_blank" title="<%= __('about.block.contributions.people.githublinktext') %>"><%= __('about.block.contributions.people.githublinktext') %></a>
                </li>
                <li>
                  <a href="https://join.status.im/user/0x04b40ac542157ab4e6cf09a2bad5a12ade51d809cc079de1facaa45aaebfb272b0ed64b9b5275877f367127179d972149a294ecc2a78fc8d4688438f5730d8828a" target="_blank" title="<%= __('about.block.contributions.people.statuslinktext') %>"><%= __('about.block.contributions.people.statuslinktext') %></a>
                </li>
              </ul>
          </div>
        </div>
        <div class="o-grid__column-1-1 o-grid__column-small-1-2 o-grid__column-large-1-3">
          <div class="c-user">
              <%- image_tag("images/guy.jpg", { class: 'c-user__avatar' }) %>
              <h3><%- __('about.block.contributions.people.c.title') %></h3>
              <p class="c-user__subtitle"><%- __('about.block.contributions.people.c.job') %></p>
              <ul class="o-list">
                <li>
                  <a href="https://github.com/guylouis" target="_blank" title="<%= __('about.block.contributions.people.githublinktext') %>"><%= __('about.block.contributions.people.githublinktext') %></a>
                </li>
                <li>
                  <a href="https://join.status.im/user/0x04204474d2e3d064c566e1a03a1c1d92902fd4b986c882d988f6632cbe0677c85116100af41a4b7467c01bd5a15121216616e273f4c3c77e3a99f936f9456a62f7" target="_blank" title="<%= __('about.block.contributions.people.statuslinktext') %>"><%= __('about.block.contributions.people.statuslinktext') %></a>
                </li>
              </ul>
          </div>
        </div>
        <div class="o-grid__column-1-1 o-grid__column-small-1-2 o-grid__column-large-1-3">
          <div class="c-user">
            <%- image_tag("images/michele.jpg", { class: 'c-user__avatar' }) %>
            <h3><%- __('about.block.contributions.people.d.title') %></h3>
            <p class="c-user__subtitle"><%- __('about.block.contributions.people.d.job') %></p>
            <ul class="o-list">
              <li>
                <a href="https://github.com/bitgamma" target="_blank" title="<%= __('about.block.contributions.people.githublinktext') %>"><%= __('about.block.contributions.people.githublinktext') %></a>
              </li>
              <li>
                <a href="https://join.status.im/user/0x0472b0f0f58ef9f3275874bb72ab1db784486ec7bd68cda8f658410fbbf1427a9b384bc921299df1974f1786a83b6d515c2fe413273f593e5ecbd794dabd025292" target="_blank" title="<%= __('about.block.contributions.people.statuslinktext') %>"><%= __('about.block.contributions.people.statuslinktext') %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="o-grid__column-1-1 o-grid__column-small-1-2 o-grid__column-large-1-3">
          <div class="c-user">
            <%- image_tag("images/hester.jpg", { class: 'c-user__avatar' }) %>
            <h3><%- __('about.block.contributions.people.h.title') %></h3>
            <p class="c-user__subtitle"><%- __('about.block.contributions.people.h.job') %></p>
            <ul class="o-list">
              <li>
                <a href="https://github.com/hesterbruikman" target="_blank" title="<%= __('about.block.contributions.people.githublinktext') %>"><%= __('about.block.contributions.people.githublinktext') %></a>
              </li>
              <li>
                <a href="https://join.status.im/user/0x045f63aeab1acb3c0bc54d3665a6423c128139f7b9b217c532fbe8a2d0dbb4c6b51f3dfe5519f43a2cd60e4c57243599146ceab56a651f68b2067e840a606d3266" target="_blank" title="<%= __('about.block.contributions.people.statuslinktext') %>"><%= __('about.block.contributions.people.statuslinktext') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>